@import '~@owczar/dashboard-style--airframe/scss/style';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif   !important;
    background: rgba($color: #B1B1B1, $alpha: 0.2);
}

hr {
    background-color: #B1B1B1;
}