@import '~@owczar/dashboard-style--airframe/scss/style';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif   !important;
    background-color: #001F3D;
    color: #fff;
}

hr {
    background-color: #B6CBE1;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    z-index: 100;
}

.text-secondary {
    color: #B6CBE1  !important;
}

.neumorphic-card {  
    border-radius: 50px;
    background: #001F3D;
    box-shadow:  20px 20px 60px #00172d, 
                 -20px -20px 60px #00274d;
}