.yellove-text {
    color: #F9D030;
}

.yellove-stat {
    display: flex;
    align-items: flex-start;
    padding: 1em 1em;
    margin-bottom: 1em;
    min-height: 450px;
}

.stat-text {
    font-size: 3em;
    font-weight: 900;
    margin-left: 1em;
}