.main-container {
    padding-left: 5rem;
    padding-right: 5rem;
}

.text-header {
    color: #4f91cd;
}

@media only screen and (max-width: 600px) {
    .main-container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}